# Visual Studio Code extension
**/dist/
**/node_modules
**/.vscode
**/.vscode-test/
.DS_Store

# Flash Python server
**/shelf/
**/workspace.xml
**/httpRequests/
**/dataSources/
**/dataSources.local.xml
**/.idea
**/__pycache__
.env.server
.env.processing